.ghe {
    background: url('/src/assets/checkout/seat-unselect-normal.png');
}

.gheDaDat {
    background: url('/src/assets/checkout/seat-set-normal.png');
}

.gheVip {
    background: url('/src/assets/checkout/seat-unselect-vip.png');
}

.gheDaDuocDat {
    background: url('/src/assets/checkout/seat-buy-normal.png');
}

.gheKhachDat {
    background: url('/src/assets/checkout/seat-process-normal.png');
    cursor: no-drop;
}

.gheDangDat {
    background: url('/src/assets/checkout/seat-select-normal.png');
}
